body {
    padding: 0;
    margin: 0;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

div {
    border: solid 1px #000000;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.box2 {
    width: 100%
}

.box3 {
    width: 100%;
}

@media (max-width: 599px) {

}

@media (min-width: 600px) and (max-width: 767px) {

}

@media (min-width: 768px) {
    .box2_1 {
        width: 50%;
        float: left;
    }
    
    .box2_2 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 1040px) {
    .wrap {
        width: 80%;
        margin: 0 auto;
    }
}