body {
    padding: 0;
    margin: 0;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

div {
    border: solid 1px #000000;
}

.box2 {
    width: 49.5%;
    float: left;
}

.box3 {
    width: 49.5%;
    float: left;
}

@media (max-width: 599px) {

}

@media (min-width: 600px) and (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1040px) {
    .wrap {
        width: 80%;
        margin: 0 auto;
    }
}